@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        <div class="jumbotron">
            <h1>Bienbenido</h1>
            <p class="lead">En esta tarea podras llenar un formulario hecho con HTML HELPERS, En el cual usa la validación en el modelo, usando Data Annotations.</p>
            <p><a href="http://localhost:58118/Home/Success" class="btn btn-primary btn-lg">LLenar el Formulario &raquo;</a></p>
        </div>
